@charset "utf-8";
html,body,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,p,form,legend,input,img,figure,figcaption,section,fieldset{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    border-spacing:0 ;
}
html,body{
    font-size:14px ;
    background-color: #f4f4f4;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
ul,li,ol{
    list-style: none;
}
a,u{
    text-decoration:none;
    color:#515151;
}
b,strong{
    font-weight:normal;
}
i,em{
    font-style: normal;
}
img{
    border:0;
    display:block;
}
input{
    outline: none;
    display:block;
    border:0;
}
span{
    display: block;
}
/* 公共样式 */
.float_left{
    float:left;
}
.float_right{
    float:right;
}
.margin_0{
    margin:0!important;
}
.border_0{
    border:0!important;
}
.clearfix:after{
    content: '';
    display:block;
    clear: both;
    height:0;
    visibility: hidden;
    overflow: hidden;
}
.clearfix{
    zoom: 1;
}